@font-face {
    font-family: "Arialn";
    src: url("../font/4UasrENHsxJlGDuGo1OIlJfC6l_24rlCK1Yo_Iqcsih3SAyH6cAwhX9RPjIUvQ.woff2") format("woff2");
}

@font-face {
    font-family: "Helvetica";
    src: url("../font/Helvetica.ttf") format("ttf");
}
@font-face {
    font-family: "OpenSans-VariableFont_wdth,wght";
    src: url("../font/OpenSans-VariableFont_wdth,wght.ttf") format("ttf");
}

@font-face {
    font-family: "PFDINTextPro-Regular-subset";
    src: url("../font/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2") format("woff2");
}